html {
  background-image: url(./assets/images/bg-image.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  background-color: transparent;
}

header {
  border-bottom: solid 1px #333333;
}

.navbar-light .navbar-brand {
  color: white;
}
.navbar-brand span {
  color: white;
  background-color: #727272;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
  padding: 10px 0px 10px 0px;
}

.nav-link {
  text-align: center;
}

button:focus {
  outline: 5px auto #4baaa5;
}

h1 {
  color: #727272;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 800;
}

/* .card {
    margin-top: 75px;
} */

.card img {
  height: 15rem;
  border-bottom: solid black 1px;
}

.about-me {
  overflow-y: auto;
}

.about-me img {
  float: left;
  margin-right: 15px;
  height: 200px;
  width: 200px;
}

.about-me ul {
  list-style: none;
}

.portfolio {
  overflow-y: auto;
}

@media screen and (max-height: 812px) {
  .content {
    max-height: 50vh;
  }
}

@media screen and (min-height: 813px) {
  .content {
    max-height: 65vh;
  }
}

@media screen and (min-width: 500px) {
  .about-me p {
    text-align: justify;
  }
}

.proj-description {
  margin-bottom: 50px;
}

.proj-links {
  position: absolute;
  bottom: 0;
  left: 0;
}

.fa {
  float: right;
  font-size: x-large;
}

footer {
  color: white;
  background-color: #535353;
  text-align: center;
  border-top: solid 7px #333333;
}
